# java-rest-api owners

/java-rest-api/ @AndreyGarro 
/java-rest-api/ @gabytec

# api-gateway owners

/api-gateway/ @Edjchg 
/api-gateway/ @fiorellaD53

# frontend owners

/frontend/ @karlami
/frontend/ @AndreyGarro

# ml-library owners

/ml-library/ @gabytec
/ml-library/ @fiorellaD53
