# java-rest-api owners

/java-rest-api/ @AndreyGarro @gabytec

# api-gateway owners

/api-gateway/ @Edjchg @fiorellaD53

# frontend owners

/frontend/ @karlami @AndreyGarro

# ml-library owners

/ml-library/ @gabytec @fiorellaD53
